#timeDisplay {
  margin: 15px;
  font-size: 35px;
  letter-spacing: 0.1em;
}
button {
  padding: 8px 5px;
  background-color: #e6e6e6; 
  border-radius:10%;
  border-width: 1.5px;
}
button:active {

}

button:disabled {
  cursor: default;
  background-color: #b3b3b3;
}